#hero {
  height: 50rem;
  background-image: url("images/ocean.jpg");
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 56rem;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 3rem 0;
  margin: 0 auto;
  position: relative;
  top: 13rem;
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

#hero-content a {
  text-decoration: none;
  background-color: rgb(255, 251, 0);
  padding: 1rem 1.5rem;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content a:hover {
  background-color: rgb(255, 238, 0);
}

#destinations {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
  padding: 0;
}

#highlights {
  background-color: rgb(85, 233, 208);
}
#highlights h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 0;
  padding: 24px;
}

#highlights span {
  color: rgb(36, 105, 255);
  font-weight: bold;
}

.destination {
  margin: 0 1.5rem;
}

.destination img {
  height: 18rem;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(63, 56, 56);
}

#highlights p {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 1rem;
}

footer {
  background: linear-gradient(45deg, rgb(51, 47, 47), rgb(75, 32, 32));
  display: flex;
  justify-content: center;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer img {
  height: 5rem;
}
